#the-header:hover{
    background-color: orchid;
    transition: 1s ease-in-out;
    transform: rotateZ(360deg);
}

.column:hover{
    transform: scale(1,2);
    background-color: white;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    color: orchid;
    writing-mode: vertical-lr;
    
}
.column h3:hover{
    
    writing-mode: vertical-lr;
}

#main-container{
    animation: danimation1 3s infinite;
}

@keyframes danimation1 {
    from {background-color:black;}
    to {background-color:orangered;}
}
