#the-header:hover{
    background-color: orchid;
    transition: 1s ease-in-out;
    
}

.column:hover{
    transform: rotateZ(45deg);
    background-color: white;
    color: orchid;
    writing-mode: vertical-lr;
}


#main-container{
    animation: danimation1 3s infinite;
}

@keyframes danimation1 {
    from {background-color:black;}
    to {background-color:orangered;}
    
}

@keyframes danimation2 {
    from {background-color: gray;}
    to {background-color: orchid;}
}