body{
    background-image: url(/images/newspaper.jpg);
    background-size: cover;
    color: white;
}

#the-header{
    background-color: gray;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: sticky;
    padding: 15px;
    margin: 50px;
    
}

#main-container{
    /*display: grid;*/
    /*grid-template-columns: repeat(3, auto);*/
    background-color: black;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
}

.row-container{
    display: flex;
}

.column{
    height: 300px;
    border-left: 1px solid orangered;
    border-right: 1px solid orangered;
    width: 80%;
    margin: 10px;
}

#the-footer{
    background-color: orangered;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px;
    margin: 10px;


    
}

@media (max-width: 400px){
    .row-container{
        flex-direction: column;
    }
}