body{background-color: gray;
    color: white;
}

#the-header{
    background-color: black;
    border: 1px solid white;
    position: sticky;
    padding: 5px;
    margin: 10px;
}

#main-container{
    /*display: grid;*/
    /*grid-template-columns: repeat(3, auto);*/
    background-color: black;
    width: 90%;
    margin: 50px auto;
    border: 1px solid white;
    padding: 5px;
}

.row-container{
    display: flex;
}

.column{
    background-image: url(/images/newspaper.jpg);
    background-size: cover;
    height: 300px;
    border: 1px solid orchid;
    width: 80%;
    margin: 10px;
}

#the-footer{
    background-color: orangered;
    border: 1px solid white;
    padding: 5px;
    margin: 30px;
}

@media (max-width: 400px){
    .row-container{
        flex-direction: column;
    }
}